* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    color:aquamarine;
    background:#222;
    padding:4rem;
}

audio, video, iframe {
    border:2px solid aquamarine;
    border-radius: 0.5rem;
    width:66.66%;
}

canvas {
    background:#333;
}